In [6]:
import pymysql

#database connection
connection = pymysql.connect(host='localhost', user='root', passwd='', database='datascience')
cursor = connection.cursor()   #used to fetch data
connection.close()

In [8]:
connection = pymysql.connect(host='localhost', user='root', passwd='', database='datascience')
cursor = connection.cursor()

#Query for creating a table
StudentsTableSql = """CREATE TABLE Students(ID INT(20) PRIMARY KEY AUTO_INCREMENT, NAME CHAR(20) NOT NULL, FIELD CHAR(10))"""
cursor.execute(StudentsTableSql)

connection.close()

In [14]:
connection = pymysql.connect(host='localhost', user='root', passwd='', database='datascience')
cursor = connection.cursor()

#queries for inserting values
insert1 = "INSERT INTO Students(NAME, FIELD) VALUES('Jaideep More', 'EXTC')"
insert2 = "INSERT INTO Students(NAME, FIELD) VALUES('Mufaddal Miyajiwala', 'EXTC')"
insert3 = "INSERT INTO Students(NAME, FIELD) VALUES('Salika Dave', 'COMPS')"
insert4 = "INSERT INTO Students(NAME, FIELD) VALUES('Saloni Patadia', 'IT')"
insert5 = "INSERT INTO Students(NAME, FIELD) VALUES('Shivam Panchal', 'COMPS')"
insert6 = "INSERT INTO Students(NAME, FIELD) VALUES('Idrees Dargahwala', 'COMPS')"
insert7 = "INSERT INTO Students(NAME, FIELD) VALUES('Hiren Patel', 'EXTC')"

cursor.execute(insert1)
cursor.execute(insert2)
cursor.execute(insert3)
cursor.execute(insert4)
cursor.execute(insert5)
cursor.execute(insert6)
cursor.execute(insert7)

#commiting the connection and then closing it
connection.commit()

In [11]:
#queries for retrieving all the rows
retrieve = "SELECT * FROM Students;"

#executing the queries
cursor.execute(retrieve)
rows = cursor.fetchall()
for row in rows:
    print(row)
    
connection.close()

(1, 'Jaideep More', 'EXTC')
(2, 'Mufaddal Miyajiwala', 'EXTC')
(3, 'Salika Dave', 'COMPS')
(4, 'Saloni Patadia', 'IT')
(5, 'Shivam Panchal', 'COMPS')
(6, 'Idrees Dargahwala', 'COMPS')
(7, 'Hiren Patel', 'EXTC')

In [16]:
updateSql = "UPDATE Students SET FIELD= 'BS&H' WHERE ID= '1' ;"
cursor.execute(updateSql)
connection.commit()

In [17]:
deleteSql = "DELETE FROM Students WHERE ID = '1' ;"
cursor.execute(deleteSql)
connection.commit()

In [ ]:
insert8 = "INSERT INTO Students(ID, NAME, FIELD) VALUES('1','Nayan Bhatia', 'COMPS');"
cursor.execute(insert1)

In [18]:
dropSql = "DROP TABLE IF EXISTS Students"
cursor.execute(dropSql)
connection.commit()
connection.close()